.color-selector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}
.color-selector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}