/* additional stylerules for widgets and plugins*/

/*caroussel styles*/

.container.small{
    margin-top			: 20px;
    width				: 390px;
}

.container.medium{
    margin-top			: 20px;
    width				: 750px;
}

.container.large{
    margin-top			: 20px;
    width				: 964px;
}

.container.xlarge{
    margin-top			: 20px;
    width				: 1170px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color	: #32B3BF!important;
}

.carousel-indicators .bullet{
    background-color	: #e0e0e0;
    border				: 2px solid #32B3BF;
}

.carousel-inner {
    width				: 100%;
    height				: 500px;

}

/*innner styles for form*/

legend small {
	margin-left:20px;
}
.fixed{
	height 				: 340px;
}

.fixed200{
	height 				: 240px;
}

.fixed300{
	height 				: 340px;
}

.fixed400{
	height 				: 440px;
}

.fixed500{
	height 				: 540px;
}

.fixed600{
	height 				: 640px;
}

.fixed700{
	height 				: 740px;
}

.fixed800{
	height 				: 840px;
}

.scroll-y{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 318px;
}

.scroll-y200{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 218px;
}

.scroll-y300{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 318px;
}

.scroll-y400{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 418px;
}

.scroll-y500{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 480px;
}

.scroll-y600{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 618px;
}

.scroll-y700{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 718px;
}

.scroll-y800{
	overflow			: auto;
	padding-top			: 27px;
	height 				: 818px;
}

/*subtract 42px for tabs header*/
.tabbed{
	height 				: 276px;
}

.tabbed200{
	height 				: 176px;
}

.tabbed300{
	height 				: 276px;
}

.tabbed400{
	height 				: 376px;
}


.tabbed500{
	height 				: 476px;
}

.tabbed600{
	height 				: 576px;
}

.tabbed700{
	height 				: 676px;
}

.tabbed800{
	height 				: 776px;
}

.leftmargin-250 {
	margin-left:250px!important;
}

.form-horizontal .control-group {
    margin-bottom		: 10px;
}

.form-horizontal .compact .control-group {
    margin-bottom		: 3px;
}

.col-md-1-5 {
    width: 12%;
    float:left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-md-2-5 {
    width: 18.5%;
    float:left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-md-3-5 {
    width: 27.5%;
    float:left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/*fix modals*/
.modal{
	width				: 820px;
	background			: none!important;
	margin 				: -340px 0px 0px -400px;
	border				: none;
	box-shadow 			: none;
	bottom				: -5px;/*fix for showing scrollbar in large forms*/
	overflow			: hidden;

}

.modal-body {
    max-height			: 700px;
    padding				: 0px;
}

.modal-dialog.large{
	width				: 800px;
	margin				: 0px;
}

.control-group p.comment{
	padding-left		: 160px;
	margin-top			: 18px;
}

.no-bottom-margin {
	margin-bottom		: 0px!important;
}

.no-top-margin {
	margin-top			: 0px!important;
}

.no-left-margin {
	margin-left			:0px!important;
}

.no-right-margin {
	margin-right		:0px!important;
}

.no-margin{
	margin				:0px!important;
}

.no-padding{
	padding 			: 0px!important;
}

.no-top-padding{
	padding-top			: 0px!important;
}

.no-right-padding{
	padding-right		: 0px!important;
}

.no-bottom-padding{
	padding-bottom		: 0px!important;
}

.no-left-padding{
	padding-left		: 0px!important;
}

.margin-bottom20 {
	margin-bottom:20px!important;
}

.no-border {
	border:none!important;
}

.pad-5{
	padding:5px;
}

.pad-10{
	padding:10px;
}

.pad-15{
	padding:15px;
}

.pad-20{
	padding:20px;
}

.spacer-5{
	margin-right:5px;
}

.spacer-10{
	margin-right:10px;
}

.spacer-15{
	margin-right:15px;
}

.spacer-20{
	margin-right:20px;
}

.mb-5{
	margin-bottom:5px!important;
}
.mb-10{
	margin-bottom:10px!important;
}
.mb-15{
	margin-bottom:15px!important;
}
.mb-20{
	margin-bottom:20px!important;
}



/********** aanpassingen aan cadenza theme ****************************/

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.btn-cadenza {
    background-image: linear-gradient(to bottom, #42C7CA 0%, #2D9FA2 100%);
    background-repeat: repeat-x;
    border-color: #2B979A;
}

.btn-cadenza:hover,
.btn-cadenza:focus {
  background-color: #2D9FA2;
  background-position: 0 -15px;
}

/*file editor theming*/

.button {
    background-image: linear-gradient(to bottom, #42C7CA 0%, #2D9FA2 100%)!important;
    background-repeat: repeat-x;
    border-color: #2B979A;
}

.button.dropdown.split > span {
    background-image: linear-gradient(to bottom, #42C7CA 0%, #2D9FA2 100%)!important;
    background-repeat: repeat-x;
    border-color: #2B979A;
    border-left: 1px solid #34A391;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.15s ease-in-out 0s;
    width: 30px;
}

.rounded {
	border-radius:10px!important;
}

.rounded-bottom {
	border-radius:0px 0px 10px 10px!important;
}

.rounded-top {
	border-radius:10px 10px 0px 0px!important;
}

.rounded-5 {
	border-radius:5px!important;
}

.rounded-bottom-5 {
	border-radius:0px 0px 5px 5px!important;
}

.rounded-top-5 {
	border-radius:5px 5px 0px 0px!important;
}



/**********************  paging grid styles *******************************/
form {
	overflow:hidden;
}
.pointer {
	cursor: pointer;
}
.form-control {

    height: 28px;
    line-height: 1.42857;
    padding: 6px 8px;
}

.headerbar{
	padding-left:32px!important;
}

.toolbar .btn-group button{
	min-width:120px;
}

.grid-pagingbar {
	padding-left:45px!important;
}

.grid-pagingbar .control-label{
	width:70px;
}

.grid-pagingbar .controls{
	margin-left:90px;
}

.grid-pagingbar .paging-text {
	display: inline-block;
	margin-top:4px;
}

.narrow-icon{
	padding : 7px 2px!important;
	width : 16px;
}


/*************************  fix for detail form *********************************/

.input-xxlarge {
    width: 450px;
}

.input-xxlarge-with-button {
    width: 415px;
    border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

.input-large {
    width: 240px;
}

.input-small {
    width: 190px;
    margin-right:-64px;
}

.input-xxsmall {
    width: 60px;
}

.controls-inline{
	display: inline-block;
	margin-left: 20px!important;
}

.border-light{
	border:1px solid #CCCCCC;
	border-radius:3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding: 4px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 7px;
}

div.editor{
	min-height:25px;
}

.glyphicon {
	position:relative;
	top:0px;
}

.toolbar-thin {
    padding: 3px 20px 6px 160px!important;
}

.form-horizontal .control-label-inline {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 120px;
    margin-right: 20px;
}

.fieldseparator{
	margin-top:5px;
	margin-bottom:7px;
}
/**********************************course *************************************************/

.rank_1{
	color: #333333;
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-bottom: -1px;
    padding: 6px 15px  6px 8px!important;
    font-weight:bold;
}
.rank_2{
	color: #333333;
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-bottom: -1px;
    padding: 6px 15px  6px 15px!important;
}

.rank_3{
	color: #333333;
	background-color: #f3f3f3;
    border: 1px solid #DDDDDD;
    margin-bottom: -1px;
    padding: 4px 15px  4px 25px!important;
}

.rank_4{
	color: #333333;
	background-color: #f3f3f3;
    border: 1px solid #DDDDDD;
    margin-bottom: -1px;
    padding: 4px 15px 4px 35px!important;
}

.courselogo-container{
	position:absolute;
	left:0px;
	top:0px;
}

.courselogo-container img{
	border:none;
	width:190px;
	height:150px;
}

.courselogo-container img{
	border:none;
	width:190px;
	height:150px;
}

a > img {
	cursor: pointer;
}

/*toast styles*/
.toast {
	display: block;
	min-heigth: 50px;
	border: 1px solid #e0e0e0;
	padding:5px;
	clear:both;
	text-align: center;
}

.toast-title {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom:5px;
}

.toast-message {
	font-weight: normal;
	font-size: 1.0em;
}

.toast-success {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.toast-info {
	color: #464a4e;
    background-color: #e7e8ea;
    border-color: #dddfe2;
}

.toast-warning {
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.toast-error {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

